.header-subtitle-checkout {
    position: absolute;
    top: 62%;
    right: 0;
    font-size: 5rem;
    color: #fff;
    opacity: 0;
    transform: translate3d(-50%, 20%, 0);

    animation: subtitleSlide 1100ms ease forwards;
    animation-delay: 210ms;
}

.main-checkout-container {
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section:first-child { // Cart Items Container
        width: 720px;
        max-width: 90%;
        display: flex;
        flex-direction: column;

        border-top: 1px solid rgba(0, 0, 0, .3); 
        border-bottom: 1px solid rgba(0, 0, 0, .3);

        padding-bottom: 2rem;
    }
}

.cart-item-checkout-article {
    display: grid;
    grid-template-columns: 3fr .5fr .5fr;
    align-items: center;
    margin-top: 2rem;

    .delete-btn {
        justify-self: end;
    }
}

.checkout-items-total {
    margin: 4rem 0 6rem 0;
    
    h2 {
        font-weight: 400;
    }
}

.delete-btn {
    content: url(../../images/x-thin-optimized.svg);
    width: 20px;
    cursor: pointer;
}

.checkout-form-section {
    width: 720px;
    max-width: 100%;
}

.checkout-form-header {
    color: var(--buy-btn-clr);
}

.duel-field {
    flex-direction: row;

    &-section {
        flex-grow: 1;
        flex-basis: 50%;

        &:first-child {
            margin-right: 1em;
        }
    }

}

.credit-card-title {
    font-size: 1rem;
}

@media screen and (max-width: 44em) {
    .header-subtitle-contact {
        font-size: 2.5rem;
    }

}