.header-subtitle-contact {
    position: absolute;
    top: 62%;
    right: 2%;
    transform: translate(-50%, -50%);

    font-size: 5rem;
    color: #fff;
}

.contact-container {
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form-section {
    width: 80%;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .contact-input {
        padding: .5em;
        font-size: 1rem;
    }
}

.form-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.form-add-btn {
    padding: 1em 3em;
    border: none;
    border-radius: 4px;
    background-color: var(--buy-btn-clr);
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}