.header-subtitle-womens {
    position: absolute;
    top: 62%;
    right: 0;
    font-size: 5rem;
    color: #fff;
    opacity: 0;
    transform: translate3d(-50%, 20%, 0);

    animation: subtitleSlide 1100ms ease forwards;
    animation-delay: 210ms;
}

@media screen and (max-width: 94em) {
    .header-subtitle-womens {
        font-size: 4rem;
    }

}

@media screen and (max-width: 56.25em) {
    .header-subtitle-womens {
        font-size: 2.25rem;
    }
}