.header-subtitle-womens {
    position: absolute;
    top: 62%;
    right: 0;
    font-size: 5rem;
    color: #fff;
    opacity: 0;
    transform: translate3d(-50%, 20%, 0);

    animation: subtitleSlide 1100ms ease forwards;
    animation-delay: 210ms;
}