*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-children-margin: 1.5rem 2.5rem;
    --main-bg: #999;
    --buy-btn-clr: #0079b1;
    --buy-btn-clr-dark: #035175;
    --main-letter-spacing: .9px;
    --alt-ease: cubic-bezier(.19,.71,.4,1);
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    line-height: 1.6;
    letter-spacing: var(--main-letter-spacing);
}

body {
    background-color: #fcfcfc;
}

button:hover {
    background-color: var(--buy-btn-clr-dark);
}

@mixin subtitle-mobile-center {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, 50%, 0);
    text-shadow: 2px 2px 4px #000;
}

@import "_header";
@import "_home";
@import "_clothing";
@import "_womens";
@import "_contact";
@import "_checkout";
@import "_footer";